<ion-view>
	<div class="bar bar-header bar-assertive">
		<button class="button icon ion-ios-arrow-back button-clear"></button>
		<div class="title">
			公会百科
		</div>
		<button class="button icon  ion-android-menu  button-clear"></button>
	</div>
		<ion-content class="has-header has-footer"> 
			 <div class="tabs-striped  tabs-top  tabs-color-assertive">
        <div class="tabs badge-assertive">
      <a class="tab-item" href="#">
        政策法规
      </a>
      <a class="tab-item" href="#">
        业务指导
      </a>
      <a class="tab-item" href="#">
        成果展示
      </a>
    </div>
    </div>
    	<div class="list lisst item padding search">
    		<div class="item item-input">
    			<div class="item-input-inset">
    				<i class="icon ion-ios-search"></i>
					<input type="search" placeholder="搜索"/>	
    			</div>
    		</div>
    		
    	</div>
    	<div class="icon-box">
    		<div class="row text-center">
    			<div class="col">
						<div class="iconw">
							<img src="img/01.png" alt="" />
						</div>						
						日程安排
					</div>
					<div class="col">
						<div class="iconw">
							<img src="img/02.png" alt="" />
						</div>						
						工作任务
					</div>
					<div class="col">
						<div class="iconw">
							<img src="img/03.png" alt="" />
						</div>						
						通知公告
					</div>
					<div class="col">
						<div class="iconw">
						<img src="img/04.png" alt="" />
						</div>						
						公交收文
					</div>
    		</div>
    	</div>
    	<div class="icon-box">
    		<div class="row text-center">
    			<div class="col">
						<div class="iconw">
							<img src="img/05.png" alt="" />
						</div>						
						公交发文
					</div>
					<div class="col">
						<div class="iconw">
						<img src="img/06.png" alt="" />
						</div>						
						成果展示
					</div>
					<div class="col">
						<div class="iconw">
							<img src="img/12.png" alt="" />
						</div>						
						工作动态
					</div>
					<div class="col">
						<div class="iconw">
							<img src="img/07.png" alt="" />
						</div>						
						工作统计
					</div>
    		</div>
    	</div>
    	<div class="icon-box">
    		<div class="row text-center">
    			<div class="col">
						<div class="iconw">
							<img src="img/08.png" alt="" />
						</div>						
						通讯录
					</div>
					<div class="col">
						<div class="iconw">
							<img src="img/09.png" alt="" />
						</div>						
						公会信息库
					</div>
					<div class="col">
						<div class="iconw">
							<img src="img/10.png" alt="" />
						</div>						
						公会百科
					</div>
					<div class="col">
						<div class="iconw">
							<img src="img/11.png" alt="" />
						</div>						
						互动咨询
					</div>
    		</div>
    	</div>
		</ion-content>
</ion-view>