<ion-tabs class="tabs-icon-top tabs-light tabs-color-active-assertive">
	<ion-tab title="首页"
	  icon-on="ion-android-home"
	  icon-off="ion-android-home"
	  ui-sref="tabs.home">
	  <ion-nav-view name="home">
			
		</ion-nav-view>
		
	</ion-tab>
	<ion-tab title="公会工作"
	  icon-on="ion-android-favorite"
	  icon-off="ion-android-favorite"
	  ui-sref="tabs.work">
	  <ion-nav-view name="work">
			
		</ion-nav-view>
		
	</ion-tab>
	<ion-tab title="公会百科"
	  icon-on="ion-ios-flower-outline bg-accessory"
	  icon-off="ion-ios-flower-outline"
	  ui-sref="tabs.pedia">
	  <ion-nav-view name="pedia">
			
		</ion-nav-view>
		
	</ion-tab>
	<ion-tab title="我"
	  icon-on="ion-android-person"
	  icon-off="ion-android-person"
	  ui-sref="tabs.user">
	  <ion-nav-view name="user">
			
		</ion-nav-view>
		
	</ion-tab>
</ion-tabs>
