<ion-view>
	<div class="bar bar-header bar-assertive">
		<button class="button icon ion-ios-arrow-back button-clear"></button>
		<div class="title">
			个人信息
		</div>
		<button class="button icon  ion-android-menu  button-clear"></button>
	</div>
	<ion-content class="has-header has-footer">
		<div class="list userlist">
			<a class="item item-avatar-right" href="#">
				 <img src="img/21.png">
         <h2>头像</h2>
          <p>Back off, man. I'm a scientist.</p>
         </a>
        </div>
         <div class="list">

        <div class="item item-button-left item-icon-right">
        	<button class="button button-assertive button-clear">
            <i class="icon ion-android-contact"></i>
          </button>
         姓名
          <span class="item-note">
            Grammy
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>
        <div class="item item-button-left item-icon-right">
        	<button class="button button-assertive button-clear">
            <i class="icon icon ion-clipboard"></i>
          </button>
         绑定的会员卡编号
          <span class="item-note">
            2346564
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>
        <div class="item item-button-left item-icon-right">
        	<button class="button button-assertive button-clear">
            <i class="icon ion-ipad"></i>
          </button>
         手机：
          <span class="item-note">
           13461354475
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>
        <div class="item item-button-left item-icon-right">
        	<button class="button button-assertive button-clear">
            <i class="icon ion-ios-person-outline"></i>
          </button>
         性别
          <span class="item-note">
           男
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>
        <div class="item item-button-left item-icon-right">
        	<button class="button button-assertive button-clear">
            <i class="icon ion-briefcase"></i>
          </button>
         生日
          <span class="item-note">
           1997-08-11
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>
        <div class="item item-button-left item-icon-right">
        	<button class="button button-assertive button-clear">
            <i class="icon ion-ios-location"></i>
          </button>
        居住地
          <span class="item-note">
           河南省
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>
        <div class="item item-button-left item-icon-right">
        	<button class="button button-assertive button-clear">
            <i class="icon  ion-email-unread"></i>
          </button>
       邮箱
          <span class="item-note">
            89559260@qq.com
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>

      </div>
      <div class="list userlist">
      	  <div class="item item-button-left item-icon-right">
        	<button class="button button-positive button-clear">
            <i class="icon   ion-wrench"></i>
          </button>
       修改密码
          <span class="item-note">
            89559260@qq.com
          </span>
         	<i class="icon  ion-ios-arrow-right ion-ios-"></i>
        </div>
      </div>

	</ion-content>
</ion-view>